@using MvcTestPro10_HelperMeths.Models
@model IEnumerable<MvcTestPro10_HelperMeths.Models.User>

@foreach (User user in Model)
{
    <tr>
        <td>@user.FirstName</td>
        <td>@user.LastName</td>
        <td>@user.Role</td>
    </tr>
}