
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>CustomVariable</title>
</head>
<body>
<div>
    <div>Контроллер: <strong>@ViewBag.Controller</strong></div>
    <div>Метод действия: <strong>@ViewBag.Action</strong></div>
    <div>Id: <strong>@ViewBag.CustomVariable</strong></div>   
</div>
</body>
</html>